.mouse-scroll {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 3px solid var(--white);
  border-radius: 12px;
  box-shadow: var(--level3);
  top: 75%;
  left: 50%;
  width: 25px;
  height: 40px;
  transform: translate(-50%, -50%);
  span {
    color: var(--white);
    font-size: 45px;
    animation: animate 1.8s infinite;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: translate(0px, -30px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0px, -13px);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
